/* Styles in this file are encapsulated and only apply to elements within this component's template */
h1 {

    color: red;

}

h2 {

    color: green;

}

h3 {

    color: blue;

}

.highlight {

    font-weight: bold;
    background-color: yellow;
    
}