<div class="row">

    <div class="col-4">

        One way -- from .ts to .html

    </div>

    <div class="col-4">


    </div>

    <div class="col-4">


    </div>
</div>>

<div class="row">

    <div class="col-4">
        <div class="row">
            <div class="col-4 bg-success">
                Interpolation
                <h4>{{courseName}}</h4>
                <div>{{inputType}}</div>
                <input type="text" value="{{courseName}}" placeholder="Enter text" />
                <input type="{{inputType}}" />
            </div>>
            <div class="col-4">
                Property Binding
                <!-- <div class="{{myClassName}}" >Danger</div> -->
                <div [class]="myClassName"> Danger Class/div>
                    <input type="text" [value]="courseName" />

                    <input [type]="inputType" />

                </div>
            </div>
            <div class="col-4">
                <button class="btn btn-success" (click)="showAlert('Welcome to Angular!')">Show Welcome</button>
                <span (click)="showAlert('You clicked the span!')">Click me!</span>
                <button class="btn btn-success" (click)="changeCourseName()">Change Course</button>
            </div>
        </div>

        <div class="col-6">
            <input type="text" [(ngModel)]="courseName" placeholder="Enter course name"> Change Course
            <input type="checkbox" [(ngModel)]="isInidan" /> Is Indian
            <select [(ngModel)]="stateNane">
                <option value="">Select </option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Rajasthan">Rajasthan</option>
            </select>
        </div>

        <div class="col-6">
            <h2>{{firstName()}}</h2>
        </div>
    </div>>