<!DOCTYPE html>
<html lang="en" ng-app="mymodule">
<head>
    <title>This ia my first angular ng-controller function variable page.</title>  
    <script src="../js/angular.min.js"></script> 
    <script src="../js/myscope-function.js"></script>
</head>
<body>   

    <div ng-controller="mycontroller"> 

        <input type="text" ng-model="name" name="">
        <input type="text" ng-model="city" name="">   

        <br><br>

        Name: {{name}}

        <br>

        City: {{city}}

        <br>

        <p>
            {{details()}}
        </p>

    </div>

</body>
</html>